{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}" align="center">{{msg}}</div>
{% endfor %}

<form action="/registration" method="post" class="form_reg">
<p class="less_left" align="center"><label>Логин </label> <input name="username" required type="text" value="" /></p>
    <p align="center" class="less_left"><label>Почта </label> <input name="mail" required type="text" value="" /></p>
    <p align="center" class="left"><label>Пароль </label> <input name="password" required type="text" value="" /></p>
    <p align="center" class="move"><label>Повтор пароля </label> <input name="password2" required type="text" value="" /></p>
    <p align="center" ><input type="submit" value="Зарегестрироваться"></p>
</form>

{% endblock %}